html {
    scroll-behavior: smooth;
  }

body{
  background-color: #000;
}

h1{
  font-size: 40px;
}

p{
  font-size: 20px;
}

/* Cover */
.bg-imgCover{
    width: 100%;
    height: 800px;
    background: linear-gradient(0deg,
    rgba(0,0,0,.2), rgba(0,0,0,0.9)),
    url('./images/bg-cover.jpg') no-repeat center center;
    background-size: cover;
    top: 0;
}

.bg-nero{
    display: flex;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    margin-left: 50%;
}

.container img{
    margin-top: 120px;
    padding: 20px;
}

@media (max-width: 768px) {
    .container img{
        padding: 5px;
    }
}

.button-smooth{
    margin-top: 20px;
    margin-left: 50px;
    
}

.button-smooth button{
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: bold;
    border: none;
}

.button-smooth button:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.button-smooth button:not(:hover){
    transition: 0.4s;
}

#down{
    color: #fff;
    font-size: 25px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @media (max-width: 768px) {
    #about{
      padding: 25px;
    }
  }

  /* Vetrina */
  .hero-vetrina{
    margin-top: 15%;
    text-align: center;
  }

  .bg-1{
    background: linear-gradient(0deg,
    rgba(0,0,0,.8), rgba(0,0,0,0.6)),
    url('./images/rap-battle.jpg') no-repeat center center;
    background-size: cover;
    display: table;
  }

  .bg-2{
    background: linear-gradient(0deg,
    rgba(0,0,0,.6), rgba(0,0,0,0.6)),
    url('./images/nigga-rap.jpg') no-repeat center center;
    background-size: cover;
    display: table;
  }

  .bg-3{
    background: linear-gradient(0deg,
    rgba(0,0,0,.8), rgba(0,0,0,0.6)),
    url('./images/console.jpg') no-repeat center center;
    background-size: cover;
    display: table;
  }

  .row a{
    text-decoration: none;
  }

  .col{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  /* Carosello */
  .main-carousel{padding: 40px 20px; margin-left: -30px; margin-right: -30px; position: relative;}

  .carousel-cell{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 15px;
    margin: 30px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    line-height: 200px;
    text-align: center;
    margin-right: 30px;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
    box-shadow: 0px 5px 10px #000;
  }

  .carousel-cell a{
    text-decoration: none;
  }


  #cell-1{ background: url('./images/salmo.png') no-repeat center center; background-size: cover; }
  #cell-2{ background: url('./images/nitro.png') no-repeat center center; background-size: cover; }
  #cell-3{ background: url('./images/tedua.png') no-repeat center center; background-size: cover; }
  #cell-4{ background: url('./images/beba.png') no-repeat center center; background-size: cover; }
  #cell-5{ background: url('./images/ernia.png') no-repeat center center; background-size: cover; }
  #cell-6{ background: url('./images/scott.png') no-repeat center center; background-size: cover; }
  #cell-7{ background: url('./images/cellego.png') no-repeat center center; background-size: cover; }
  #cell-8{ background: url('./images/lazza.png') no-repeat center center; background-size: cover; }

  .front{
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden; 
    border-radius: 100%;
  }

  .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
    transform: rotateY(180deg);
  }

  .carousel-cell:hover{
    transform: rotateY(180deg);
  }

  .carousel-button{
    height: 50px;
    width: 150px;
    line-height: 50px;
    margin-top: 120px;
    text-align: center;
    background: transparent;
    border: none;
  }

  .carousel-button::after {
    display: block;
    content: '';
    border-bottom: solid 3px #CB3838;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;

  }

  .carousel-button:hover::after { transform: scaleX(1); margin-top: -10px;}

  .carousel-button:not(:hover)::after {margin-top: -10px;}


  /* Form */
  .form-black{
    background-color: #000;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 70%;
    height: 100%;
    position: relative;
    border: 2px solid transparent;
    border-radius: 20px;
  }

  .form-black h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .form-black input,
  .form-black textarea{
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    border: none;
    margin-top: 30px;
    color: #000;
    text-decoration: none;
  }

  .form-black input{
    height: 55px;
  }

  .form-black textarea{
    height: 220px;
  }

  #submit{
    background-color: #2B8D2F;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    font-size: 20px;
    padding: 0;
  }

  #submit:hover{
    transition: 0.4s;
    background-color: #216d24;
    transform: scale(1.02);
  }

  #submit:not(:hover){
    transition: 0.4s;
  }

  textarea:focus, input:focus{
    outline: none;
}

  /* Footer */
  .footer{
    height: 200px;
    width: 100%;
    text-align: center;
  }

  .footer .col{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer .col span{
    color: #666;
  }

  .footer img{
    margin-top: 30px;
  }
  
  /* Helpers */
  .open-sans{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #fff;
  }

  .permanent-marker{
    font-family: 'Permanent Marker';
    font-weight: bold;
    color: #CB3838;
  }

  .body-bianco{
    background-color: #fff;
    border: 2px solid transparent;
  }

  .center{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
  }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}